<app-welcome-message></app-welcome-message>
<hr color = "#660080"/>
<br/>
<app-username></app-username>
<br/>
<p class = "text" style = "text-align: center;"> If you want you can send a message to Night or you can look through first</p>
<app-message></app-message>
<app-confirm-button></app-confirm-button>
<br/>
<br/>
<p class = "text">- Messages need to start with a letter or number</p>
<p class = "text">- Right now you only can only send text</p>
<p class = "text">- If you want to send a image send a link</p>
<p class = "text">- Please dont ask for Nights return</p>
<br/>
<hr color = "#660080"/>
<router-outlet></router-outlet>